.game_in {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: absolute;
  }
  width: 100%;
  height: 8em;
  margin: -0.8em 0 -1em 0;
  position: relative;

  &.soc {
    background: url(../image/game_in/gin_soc.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.bas {
    background: url(../image/game_in/gin_bas.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.bask {
    background: url(../image/game_in/gin_bask.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.hor {
    background: url(../image/game_in/gin_hor.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.esp {
    background: url(../image/game_in/gin_esp.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.sto {
    background: url(../image/game_in/gin_sto.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.lot {
    background: url(../image/game_in/gin_lot.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.ice {
    background: url(../image/game_in/gin_ice.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.ten {
    background: url(../image/game_in/gin_ten.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.sno {
    background: url(../image/game_in/gin_sno.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.vba {
    background: url(../image/game_in/gin_vba.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.mot {
    background: url(../image/game_in/gin_mot.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.bad {
    background: url(../image/game_in/gin_bad.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.foo {
    background: url(../image/game_in/gin_foo.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.bea {
    background: url(../image/game_in/gin_bea.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.tab {
    background: url(../image/game_in/gin_tab.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  &.my_page_bill {
    background: url(../image/my/title_bg.png) no-repeat;
    background-size: 100%;
    position: relative;
  }
  .in_left {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: calc(50%);
    left: 2em;
    font-size: 1.1em;
    line-height: 1.7;
    transform: translate(0%, -50%);
  }
  .in_right {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 2em;
    font-size: 1.1em;
    line-height: 1.7;
    transform: translate(0%, -50%);
    li {
      display: inline-block;
      margin: 0 0.3em 0 0;
      &:last-child {
        margin: 0;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        width: 2em;
        height: 1.8em;
        background: url(../image/icon/view_icon.png) no-repeat;
        background-size: 200%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @for $i from 1 through 2 {
          &.i#{$i} {
            background-position: (($i - 1) * -2em) 0;
          }
        }
        &:hover {
          &:before {
            position: absolute;
            content: "";
            height: 3em;
            width: 5px;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.03) 1%,
              rgba(255, 255, 255, 0.6) 30%,
              rgba(255, 255, 255, 0.75) 50%,
              rgba(255, 255, 255, 0.75) 70%,
              rgba(255, 255, 255, 0.75) 71%,
              rgba(255, 255, 255, 0) 100%
            );
            top: 60%;
            left: 0;
            transform: translate(3em, -50%) rotate(-45deg);
            opacity: 1;
            transition: all 0.3s linear;
          }
        }
        &:before {
          position: absolute;
          content: "";
          height: 3em;
          width: 20px;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.03) 1%,
            rgba(255, 255, 255, 0.6) 30%,
            rgba(255, 255, 255, 0.75) 50%,
            rgba(255, 255, 255, 0.75) 70%,
            rgba(255, 255, 255, 0.75) 71%,
            rgba(255, 255, 255, 0) 100%
          );
          top: 60%;
          left: 0;
          transform: translate(-2.8em, -50%) rotate(-45deg);
          opacity: 1;
          transition: all 0.3s linear;
        }
      }
    }
  }
  .mid {
    display: inline-block;
    text-align: center;
    color: #fff;
    position: absolute;
    top: calc(50% - 0.25em);
    left: 50%;
    font-size: 1.1em;
    line-height: 1.5;
    transform: translate(-50%, -50%);
    li:nth-child(2) {
      position: relative;
      .team_left_point,
      .team_right_point {
        width: auto;
        height: auto;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.429em;
      }
      .team_left_point {
        left: -75%;
      }
      .team_right_point {
        left: 175%;
      }
      // &:before,&:after{
      //   content: '';
      //   width: .4em;
      //   height: .15em;
      //   background: #fff;
      //   position: absolute;
      //   top: 50%;
      //   transform: translateY(-50%);
      // }
      // &:before{
      //   left: -3.5em;
      // }
      // &:after{
      //   right: -3.5em;
      // }
    }
  }
  .t_wrap1,
  .t_wrap2 {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: calc(50% - 0.25em);
    font-size: 1.2em;
    line-height: 1;
    .box {
      display: inline-block;
      vertical-align: middle;
    }
    text-align: left;
    span,
    p {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }
    p {
      max-width: 6em;
      line-height: 1.2;
    }
    span {
      width: 3em;
      height: 2em;
      background: url(../image/icon/team_icon.png) no-repeat;
      background-size: 600%;
      @for $i from 1 through 6 {
        &.t#{$i} {
          background-position-x: (($i - 1) * -3em);
        }
      }
    }
  }
  .t_wrap1 {
    transform: translate(00%, -50%);
    right: 61%;
    span {
      margin: 0 0 0 0.5em;
    }
  }
  .t_wrap2 {
    transform: translate(0%, -50%);
    left: 61%;
    span {
      margin: 0 0.5em 0 0;
    }
  }
}
