
  header {
    font-size: 14px;
    min-width: 1600px;
    width: 100%;
    top: 0;
    line-height: 100%;
    position: fixed;
    z-index: 10;
    .time_line {
      background: #2f333d;
      .time_box {
        line-height: 1.5em;
        width: 1100px;
        text-align: right;
        margin: 0 auto;
        color: #b4bac8;
        overflow: hidden;
        .right_box{
            float: right;
            padding-right: calc(.8em + 7px);
            p{
                padding-top: 2px;
            }
        }
        &.in_status{
          width: 1350px;
          .right_box{
              width: 22.22%;
            //   text-align: left;
              
          }
        }
      }
    }
  
  }
.h_box {
    width: 100%;
    height: 6em;
    background: #fff;
    box-shadow: 0px 1px 3px 0px #cdd2e5;
  }
.h_wrap {
    width: 1100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 5em;
    overflow: hidden;
    &.live_mode{
        width: 1350px;
        .logo{
            margin: 0 0 0 10.7%;
            width: 13.7%;
        }
        .right{
            width: 22.2%;
            padding: 0;
        }
    }
    &.other_size{
        width: 1100px;
        .logo{
            width: calc(20% - 2em);
            padding-left: 2em;
            text-align: left;
        }
        .right{
            padding-right: calc(.8em + 7px);
            .sign_in{
                &.active{
                    padding-right:0;
                }
            }
        }
    }
// padding: 0 0 0 .4em;
.logo {
    width: 16.8%;
    height: 100%;
    text-align: center;
    float: left;
    line-height: 6em;
    h1 {
    background: url(../image/icon/logo.png)no-repeat;
    width: 7.857em;
    height: 2.429em;
    // font-size: 3.5em;
    line-height: 100%;
    display: inline-block;
    vertical-align: middle;
    // background: linear-gradient(to bottom, #8997da 0%, #3247b8 100%);
    // background-clip: text;
    position: relative;
    // -webkit-text-fill-color: transparent;
    }
}
ul {
    float: left;
    overflow: hidden;
    // margin: 0 0 0 1em;
    &.m_yet {
    // width: 30%;
    // height: 100%;
    line-height: 6em;
    height: 6em;
    }
    li {
    // font-size: 1.1em;
    float: left;
    margin: 0 1.286em;
    position: relative;
    color: #4d515d;
    cursor: pointer;
    text-align: center;
    width: auto;
    &.limit_w{
        width: 3.5em;
    }
    p{
        // width: 5em;
        width: auto;
        line-height: 1;
        vertical-align: middle;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }
    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../image/icon/h_icon.png) no-repeat;
        background-size: 300%;
        margin: 0px 4px 0 0;
        vertical-align: text-bottom;
        @for $i from 1 through 3{
            &.i#{$i}{
                background-position:  ($i - 1) * -16px 0;
            }
        }
        // &.i1 {
        // background-position: 0 0;
        // }
        // &.i2 {
        // background-position: -16px 0;
        // }
        // &.i3 {
        // background-position: -32px 0;
        // }
    }
    &:hover,
    &:active,
    &.active {
        color: #293eb0;
        // border-bottom: 1px solid #293eb0;
        i{
            @for $i from 1 through 3{
                &.i#{$i}{
                    background-position:  ($i - 1) * -16px -16px;
                }
            }
        }
        &:before {
        content: "";
        background: #293eb0;
        height: 0.286em;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        }
    }
    }
}
.right {
    float: right;
    line-height: 6em;
    height: 6em;
    // padding: 0 calc(100% * .178) 0 0;
    .sign_yet,
    .sign_in {
        // text-align: center;
        overflow: hidden;
        display: none;
    &.active{
        display: block;
    }
    }
    .sign_in{
        &.active{
            text-align: right;
            padding-right: calc(.8em + 7px);
        }
    }
    .sign_yet {
    line-height: 6em;
    // text-align: right;
    padding-right: calc(.8em + 7px);
    .wrap {
        line-height: 4em;
        display: inline-block;
        vertical-align: middle;
    }
    p,
    i,
    span {
        display: inline-block;
    }
    i {
        width: 30px;
        height: 30px;
        background: url(../image/icon/avatar.png) no-repeat;
        background-size: 100%;
        vertical-align: middle;
        margin: 0 4px 0 0;
    }
    p {
        vertical-align: middle;
        line-height: 100%;
        
    }
    span {
        cursor: pointer;
        font-size: 1.2em;
        color: #4d515d;
        position: relative;
    }
    }
    //登入
    .sign_in {
    line-height: 6em;
    //2020_08_03
    // padding-left: 2em;
    // text-align: right;
    .wrap {
        display: inline-block;
        line-height: 4em;
        vertical-align: middle;
        .row {
        line-height: 1.5em;
        p {
            font-size: 1.143em;
            display: inline-block;
            vertical-align: baseline;
            &.gray {
            color: #4d515d;
            }
            &.blue {
            color: #2d43b6;
            }
        }
        .vip {
            display: inline-block;
            vertical-align: top;
            // margin: 0 0 0 0.5em;
            line-height: 1.1em;
            padding: .1em 0.25em 0em;
            background: linear-gradient(to right, #8e9bdc 0%, #2e44b6 100%);
            border-radius: 4px;
            width: 3.500em;
            padding: 2px 0;
            text-align: center;
            i {
            background: url(../image/icon/vip.png) no-repeat;
            background-size: 100%;
            display: inline-block;
            width: 1.6em;
            height: 0.8em;
            vertical-align: text-bottom;
            }
            p {
                display: inline-block;
                font-family: "微軟正黑體";
                font-weight: bold;
                color: #fff;
                vertical-align: text-top;
                line-height: 100%;
                font-size: .8em;
                white-space: nowrap;
            }
        }
        &.bot {
            text-align: left;
            i {
            width: 1.2em;
            height: 1.2em;
            background: url(../image/icon/q_icon.png) no-repeat;
            background-size: 100%;
            display: inline-block;
            vertical-align: middle;
            }
            .my_money{
                display: inline-block;
                vertical-align: middle;
                padding-top: 4px;
                line-height: 1;
            }
            .sign_out{
                background: linear-gradient(to bottom , #ddb692 0% , #b78a61 100%);
                border: 1px solid #ffeddd;
                color: #fff;
                border-radius: 5px;
                font-size: 14px;
                padding: 4px 9px 2px;
                width: 3.5em;
                &:hover{
                    background: linear-gradient(to bottom , #b78a61 0% , #ddb692 100%);
                }
                p{
                    font-size: 1.071em;
                    line-height: 1;
                    vertical-align: middle;
                    white-space: nowrap;
                }
            }
        }
        }
    }
    }
}
}