//0709
.balls_choice,
.league_choice {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: static;
  }
  display: none;
  &.active {
    display: block;
  }
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #fafbff 0%, #fafbff 20%, #fafbff 80%, #e2e5f5 100%);
  border-radius: 0 0 8px 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% - 1em));
  z-index: 1;
  padding: 1em;
  color: #4d515d;
  overflow: hidden;
  .row {
    line-height: 2.3em;
    height: 2.3em;
    width: 100%;
    float: left;
    margin-top: 0.3em;
    &:first-child {
      margin-top: 1em;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      font-size: 1.143em;
    }
    span {
      display: inline-block;
      vertical-align: text-bottom;
      &.check {
        cursor: pointer;
        width: 1em;
        height: 1em;
        border: 1px solid #b2afcf;
        border-radius: 4px;
        background: linear-gradient(to bottom, #cbd0e9 0%, #ffffff 100%);
        position: relative;
        &.active {
          border: 1px solid #4259d7;
          background: linear-gradient(to bottom, #2f45b7 0%, #8694d8 100%);
          &:before {
            content: "";
            position: absolute;
            top: 35%;
            left: 50%;
            width: 50%;
            height: 80%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: none;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #fff;
          }
        }
      }
    }
    .b12_5,
    .b33_3 {
      float: left;
      white-space: nowrap;
    }
    .b12_5 {
      width: 12.5%;
    }
    .b33_3 {
      width: 33.33%;
    }
  } //row
}
