//開關
.mess_sw{
    width: 12.429em;
    height: calc(3.214em - 12px);
    line-height: calc(3.214em - 12px);
    display: inline-block;
    vertical-align: middle;
    border-radius: 24px;
    margin-top: -2px;
    background: linear-gradient(to bottom, #767fa7 ,#afb6d3);
    color: #fff;
    display: none;
    &.active{
        display: inline-block;
    }
    .s_b50.s_b50.s_b50 {
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        &.active{
            .sp{
                background: linear-gradient(to bottom,#fafbff 0% , #e3e7f6 100%);
                color: #2c3973;
                animation: choice_ani .3s 1 ease-in-out ;
            }
        }
        .sp{
            font-size: 1.143em;
            color: #fff;
            height: calc(3.214em - 24px);
            line-height: calc(3.214em - 24px);
            padding: 0;
            width: calc(100% - 8px);
            border-radius: 24px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}
@keyframes choice_ani{
    0%{transform: scale(.95);}
    100%{transform: scale(1);}
}
//<--------
//賽事公告
.basic_bill{
   &.message_anno{
    .b_name{
        background: linear-gradient(to bottom,#6b76b4 0%,#414c88 100%);
        line-height: 3.143em;
        height: 3.143em;
        color: #fff;
        .bf{
            font-size: 1.143em;
            span{
                &.bor{
                    font-size: 1.08em;
                    display: inline-block;
                }
            }
        }
        .right_box{
            line-height: 3.143em;
            right: 1.429em;
            .time{
                margin: 0;
                font-size: 1.1em;
            }
        }
    }
    .save_type{
        padding: 1.143em;
        p{
            line-height: 2;
            font-size: 1.143em;
            letter-spacing: .5px;
            display: inline-block;
        }
    }
   }
}
//<--------
//頁面切換_active
.messages_page,.events_page,.game_anno_page,.anno_page{
    display: none;
    &.active{
        display: block;
    }
}
//--------------------
.mess_drow{
    margin-top:.5em;
    cursor: pointer;
    &.active{
        cursor: default;
        .mess_title{
            color: #fff;
            background: linear-gradient(to bottom,#6b76b4 0% ,#424d89 100%);
            transition: all .2s ease-in-out;  
          
            .arrow{
                background: url(../image/my/arrow_down_w.png)no-repeat;
                background-size: 100%;
                transition: all .2s ease-in-out;
            }
        }
        .mess_content{
            display: inline-block;
        }

    }
    &.editing{
        .mess_title{
            .e_point{
                &:before{
                    display: block;
                }
            }
        }
    }
    span{
        &.tt{
            display: inline-block;
            line-height: 100%;
            vertical-align: middle;
            font-size: 1.071em;
        }
        &.arrow{
            display: inline-block;
            width: 0.786em;
            height: 0.5em;
            background: url(../image/my/arrow_up_d.png)no-repeat;
            background-size: 100%;
            vertical-align: middle;
            margin-left: 1em;
            transition: all .2s ease-in-out;
        }
    }
    .mess_title{
        line-height: 3.214em;
        height: 3.214em;
        background: #fff;
        border-radius: 12px;
        padding: 0 1.429em;
        color: #4d515d;
        z-index: 1;
        transform: translateZ(1px);
        transition: all .2s ease-in-out;
        .right_box{
            float: right;
        }
        .e_point{
            width: 1em;
            height: 1em;
            border: 1px solid #3145b2;
            border-radius: 100px;
            display: inline-block;
            position: relative;
            vertical-align: text-bottom;
            display: none;
            z-index: 5;
            margin-right: .5em;
            &.active{
                display: inline-block;
            }
            &.choice{
                &:before{
                    display: block;
                }
            }
            &:before{
                content: '';
                width: 0.571em;
                height: 0.571em;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background: #3145b2;
                position: absolute;
                display: none;
                border-radius: 100px;
            }
        }
    }
    .mess_content{
        display: none;
        padding: 1em 1.214em 1.286em 1.214em;
        background: #fff;
        border-radius: 12px;
        margin: -1em 0 0;
        .mess_card{
            margin-top: 1.6em;
            border-radius: 12px;
            border: 1px solid #6b76b4;
            line-height: 2;
            padding: 1.5em 2em;
            box-shadow: 0 0 7px 1px #e2e4f3;
             p{
                font-size: 1.071em;
                color: #292b30;
             }
        }
        .mess_solo_p{
            line-height: 2;
            margin-top: 1.6em;
            font-size: 1.071em;
            color: #292b30;
            display: inline-block;
        }
        .mess_table{
            margin-top: 1.6em;
            text-align: center;
            overflow: hidden;
            border-radius: 12px;
            border: 1px solid #6b76b4;
            box-shadow: 0 0 7px 1px #e2e4f3;
            p{
                font-size: 1.071em;
                color: #4d515d;
            }
            li{
                overflow: hidden;
                line-height: 2.214em;
                background: #fff;
                border-top: 1px solid #e1e1e4;
                &:first-child{
                    border: none;
                }
                &:nth-child(odd){
                    background: #eef0f7;
                }
                &.title.title{
                    background: #5b6498;
                    .b50.b50.b50{
                        border: none;
                        p{
                            color: #fff;
                        }
                    }
                }
                .b50{
                    width: 50%;
                    float: left;
                    position: relative;
                    &:first-child{
                        border-right: 1px solid #e1e1e4;
                    }
                }
            }
        }
        .mess_footer{
            text-align: right;
            margin-top: 1.286em;
            .infor_i{
                display: inline-block;
                width: 1.286em;
                height: 1.286em;
                background: url(../image/icon/infor.png)no-repeat;
                background-size: 100%;
                vertical-align: text-bottom;
            }
        }
    }
}